.wrapper {
    width: 70vw;
    height: auto;
    min-height: 400px;
    background-color: #fff;
}

b.bold {
    font-size: 30px;
}

.button{
    width: 140px;
    height: 30px;
}

.darkTextarea {
    background-color: dimgrey;
    color: white;
}

.lightTextarea {
    background-color: white;
    color: black;
}

.symbolGreen {
    background-color: greenyellow;
}

.symbolRed {
    background-color: red;
}

