.wrapper {
    width: 70vw;
    height: 30vw;
    margin: 0 auto;
    border: solid 2px black;
    border-radius: 5px;
}

.symbBlue{
    color: blue;
}

.symbGreen{
    background-color: greenyellow;
}

.symbRed{
    background-color: red;
}

